SPECTRUM_PROJECT_ID=replace-with-spectrum-project-id
SPECTRUM_PROJECT_SECRET=replace-with-spectrum-project-secret
DAYBREAK_API_BASE=https://www.daybreakcircles.lol
DAYBREAK_APP_BASE=https://www.daybreakcircles.lol
DAYBREAK_IMESSAGE_DEBOUNCE_MS=1200
DAYBREAK_IMESSAGE_REQUEST_TIMEOUT_MS=8000
DAYBREAK_IMESSAGE_MAX_REPLY_CHARS=1450
HEALTH_PORT=8787
